<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <targets>
    <target name="console" xsi:type="Console" layout="${date:format=dd/MM/yyyy HH\:mm\:ss.mmm} ${message}" />
    <target name="asyncFileError" xsi:type="AsyncWrapper">
      <target name="file" xsi:type="File" fileName="${basedir}/Log/Error.log"
            archiveFileName="${basedir}/Log/Archives/Error.{#####}.log"
            archiveAboveSize="1024000"
            archiveNumbering="Sequence"
            maxArchiveFiles="15" encoding="UTF-8" >
        <layout xsi:type="CsvLayout" delimiter="Tab" >
          <column name="time" layout="${date:format=dd/MM/yyyy HH\:mm\:ss.mmm}" />
          <column name="thread" layout="${threadid}" />
          <column name="level" layout="${level}" />
          <column name="idenity" layout="${windows-identity}" />
          <column name="message" layout="${message}" />
          <column name="exception" layout="${exception:format=type,message,method,stacktrace}" />
        </layout>
      </target>
    </target>
    <target name="asyncFileInformation" xsi:type="AsyncWrapper">
      <target name="file" xsi:type="File" layout="${date:format=dd/MM/yyyy HH\:mm\:ss.mmm} ${level} ${logger} - ${message} ${callsite}" fileName="${basedir}/Log/Information.log"
          archiveFileName="${basedir}/Log/Archives/Information.{#####}.log"
          archiveAboveSize="1024000"
            archiveNumbering="Sequence"
            maxArchiveFiles="15" encoding="UTF-8" />
    </target>
  </targets>
  <rules>
    <logger name="*" levels="Debug,Warn,Error,Fatal" writeTo="asyncFileError,console" />
    <logger name="*" maxlevel="Info" writeTo="asyncFileInformation,console" />
  </rules>
</nlog>
