@model Microsoft.AspNet.Identity.EntityFramework.IdentityRole
@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

<style type="text/css">
    #tbrole, .c {
        border: double;
    }
</style>


@using (Html.BeginForm("Update", "Role"))
{
    @Html.HiddenFor(m => m.Id)
    <table id="tbrole">
        <tr>
            <td class="c">Enter Role Name To be Created:</td>
            <td class="c">
                @Html.TextBoxFor(m => m.Name)
            </td>
        </tr>
    </table>
    <input type="submit" value="Save Changes" />
}